# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp Save Files
*~
*.pyc

# Misc
*.DS_Store
*.project
*.cproject
*.settings/

# Build Directories
*/build/
*/Build/
*/Bin/
*/Lib/

# Data files
*.pkl
*.dat
*.h5
*.hkl
*.json

# Plots
physx_simulation/pysim/*.html
physx_simulation/pysim/plots/*.html
physx_simulation/pysim/images/*.png
physx_simulation/pysim/images/*.pdf

# Exceptions
!PhysXSDK/Bin
PhysXSDK/Bin/*
!PhysXSDK/Bin/linux32
!PhysXSDK/Bin/linux32/libCgGL.so
!PhysXSDK/Bin/linux32/libCg.so
!PhysXSDK/Bin/linux32/libPhysX3GpuCHECKED_x86.so
!PhysXSDK/Bin/linux32/libPhysX3GpuDEBUG_x86.so
!PhysXSDK/Bin/linux32/libPhysX3GpuPROFILE_x86.so
!PhysXSDK/Bin/linux32/libPhysX3Gpu_x86.so

!PhysXSDK/Bin/linux64
PhysXSDK/Bin/linux64/*
!PhysXSDK/Bin/linux64/libCgGL.so
!PhysXSDK/Bin/linux64/libCg.so
!PhysXSDK/Bin/linux64/libPhysX3GpuCHECKED_x64.so
!PhysXSDK/Bin/linux64/libPhysX3GpuDEBUG_x64.so
!PhysXSDK/Bin/linux64/libPhysX3GpuPROFILE_x64.so
!PhysXSDK/Bin/linux64/libPhysX3Gpu_x64.so

!PhysXSDK/Bin/vc10win32
!PhysXSDK/Bin/vc10win32/glut32.dll
!PhysXSDK/Bin/vc10win32/nvToolsExt32_1.dll
!PhysXSDK/Bin/vc10win32/PhysX3GpuCHECKED_x86.dll
!PhysXSDK/Bin/vc10win32/PhysX3GpuDEBUG_x86.dll
!PhysXSDK/Bin/vc10win32/PhysX3GpuPROFILE_x86.dll
!PhysXSDK/Bin/vc10win32/PhysX3Gpu_x86.dll
!PhysXSDK/Bin/vc10win32/PhysXDevice.dll

!PhysXSDK/Bin/vc10win64
!PhysXSDK/Bin/vc10win64/glut32.dll
!PhysXSDK/Bin/vc10win64/nvToolsExt64_1.dll
!PhysXSDK/Bin/vc10win64/PhysX3GpuCHECKED_x64.dll
!PhysXSDK/Bin/vc10win64/PhysX3GpuDEBUG_x64.dll
!PhysXSDK/Bin/vc10win64/PhysX3GpuPROFILE_x64.dll
!PhysXSDK/Bin/vc10win64/PhysX3Gpu_x64.dll
!PhysXSDK/Bin/vc10win64/PhysXDevice64.dll

!PhysXSDK/Bin/vc11win32
!PhysXSDK/Bin/vc11win32/glut32.dll
!PhysXSDK/Bin/vc11win32/nvToolsExt32_1.dll
!PhysXSDK/Bin/vc11win32/PhysX3GpuCHECKED_x86.dll
!PhysXSDK/Bin/vc11win32/PhysX3GpuDEBUG_x86.dll
!PhysXSDK/Bin/vc11win32/PhysX3GpuPROFILE_x86.dll
!PhysXSDK/Bin/vc11win32/PhysX3Gpu_x86.dll
!PhysXSDK/Bin/vc11win32/PhysXDevice.dll

!PhysXSDK/Bin/vc11win364
!PhysXSDK/Bin/vc11win64/glut32.dll
!PhysXSDK/Bin/vc11win64/nvToolsExt64_1.dll
!PhysXSDK/Bin/vc11win64/nvToolsExt64_1.dll
!PhysXSDK/Bin/vc11win64/PhysX3GpuDEBUG_x64.dll
!PhysXSDK/Bin/vc11win64/PhysX3GpuPROFILE_x64.dll
!PhysXSDK/Bin/vc11win64/PhysX3Gpu_x64.dll
!PhysXSDK/Bin/vc11win64/PhysXDevice64.dll

!PhysXSDK/Bin/vc12win32
!PhysXSDK/Bin/vc12win32/glut32.dll
!PhysXSDK/Bin/vc12win32/nvToolsExt32_1.dll
!PhysXSDK/Bin/vc12win32/PhysX3GpuCHECKED_x86.dll
!PhysXSDK/Bin/vc12win32/PhysX3GpuDEBUG_x86.dll
!PhysXSDK/Bin/vc12win32/PhysX3GpuPROFILE_x86.dll
!PhysXSDK/Bin/vc12win32/PhysX3Gpu_x86.dll
!PhysXSDK/Bin/vc12win32/PhysXDevice.dll

!PhysXSDK/Bin/vc12win64
!PhysXSDK/Bin/vc12win64/glut32.dll
!PhysXSDK/Bin/vc12win64/nvToolsExt64_1.dll
!PhysXSDK/Bin/vc12win64/PhysX3GpuCHECKED_x64.dll
!PhysXSDK/Bin/vc12win64/PhysX3GpuDEBUG_x64.dll
!PhysXSDK/Bin/vc12win64/PhysX3GpuPROFILE_x64.dll
!PhysXSDK/Bin/vc12win64/PhysX3Gpu_x64.dll
!PhysXSDK/Bin/vc12win64/PhysXDevice64.dll

!PhysXSDK/Lib
PhysXSDK/Lib/*
!PhysXSDK/Lib/vc10win32
!PhysXSDK/Lib/vc10win32/PhysX3GpuCHECKED_x86.lib
!PhysXSDK/Lib/vc10win32/PhysX3GpuDEBUG_x86.lib
!PhysXSDK/Lib/vc10win32/PhysX3GpuPROFILE_x86.lib
!PhysXSDK/Lib/vc10win32/PhysX3Gpu_x86.lib

!PhysXSDK/Lib/vc10win64
!PhysXSDK/Lib/vc10win64/PhysX3GpuCHECKED_x64.lib
!PhysXSDK/Lib/vc10win64/PhysX3GpuDEBUG_x64.lib
!PhysXSDK/Lib/vc10win64/PhysX3GpuPROFILE_x64.lib
!PhysXSDK/Lib/vc10win64/PhysX3Gpu_x64.lib

!PhysXSDK/Lib/vc11win32
!PhysXSDK/Lib/vc11win32/PhysX3GpuCHECKED_x86.lib
!PhysXSDK/Lib/vc11win32/PhysX3GpuDEBUG_x86.lib
!PhysXSDK/Lib/vc11win32/PhysX3GpuPROFILE_x86.lib
!PhysXSDK/Lib/vc11win32/PhysX3Gpu_x86.lib

!PhysXSDK/Lib/vc11win64
!PhysXSDK/Lib/vc11win64/PhysX3GpuDEBUG_x64.lib
!PhysXSDK/Lib/vc11win64/PhysX3GpuPROFILE_x64.lib
!PhysXSDK/Lib/vc11win64/PhysX3GpuCHECKED_x64.lib
!PhysXSDK/Lib/vc11win64/PhysX3Gpu_x64.lib

!PhysXSDK/Lib/vc12win32
!PhysXSDK/Lib/vc12win32/PhysX3GpuPROFILE_x86.lib
!PhysXSDK/Lib/vc12win32/PhysX3GpuCHECKED_x86.lib
!PhysXSDK/Lib/vc12win32/PhysX3GpuDEBUG_x86.lib
!PhysXSDK/Lib/vc12win32/PhysX3Gpu_x86.lib

!PhysXSDK/Lib/vc12win64
!PhysXSDK/Lib/vc12win64/PhysX3GpuCHECKED_x64.lib
!PhysXSDK/Lib/vc12win64/PhysX3GpuDEBUG_x64.lib
!PhysXSDK/Lib/vc12win64/PhysX3GpuPROFILE_x64.lib
!PhysXSDK/Lib/vc12win64/PhysX3Gpu_x64.lib

!PhysXSDK/externals
PhysXSDK/externals/*
!PhysXSDK/externals/android-ndk-r9d
!PhysXSDK/externals/apache-ant-1.8.2
!PhysXSDK/externals/cg
!PhysXSDK/externals/CUDA
!PhysXSDK/externals/mojoshader
!PhysXSDK/externals/pvrt
!PhysXSDK/externals/android-sdk
!PhysXSDK/externals/AppGlue
!PhysXSDK/externals/clang
!PhysXSDK/externals/glew
!PhysXSDK/externals/nvToolsExt
!PhysXSDK/externals/targa

PhysXSDK/Source/compiler/.deps/*
